  
<!doctype html>
<html>
<head>
    <title>Simple Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">
     <h3>Welcome <%=username%>, to our home page. </h3>
    <h1><span class="fa fa-sign-out"></span><a href="/logout">Logout</a></h1>
    <hr>
</div>
</div>
</body>
</html>
